header, footer{
	background: black;
	height: 55px;
	color: white;
	padding: 30px;
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
}

.grid-item-aandn { width: 500px; }
.grid-item--width2 { width: 400px; }

header {
	display: flex !important;
	justify-content: center; 
	align-items: center;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 680px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	header {
  		flex-direction: column;
  	}

  	#nav-links {
  		text-align: center;
  	}
}

#nav-name {
	flex: 1;
}

#nav-links {
	flex: 1;
	justify-content: space-between;
	max-width: 400px;
	text-align: right;
}

#nav-links a {
	font-size: 16px;
	color: white;
	text-decoration: none;
	margin: 0 10px;
}

#nav-links a.active {
	border-bottom: 2px solid white;
	padding-bottom: 6px;
}

footer {
	display: flex !important;
	align-content: center;
	justify-content: center;
}

#footer-box {
	flex: 1;
	display: flex !important;
	justify-content: space-between;
	align-items: center;
	max-width: 400px;
}

footer a {
	color: white;
	font-size: 0.8em;
}